* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Ruhl';
    src: url('fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face{
    font-family: 'Ruhl Medium';
    src: url('fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face{
    font-family: 'Vibes';
    src: url('fonts/GreatVibes-Regular.ttf');
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $header1;
}

li,button,label,input,a,p {
    font-size: $text;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
}

h4,
h5 {
    font-size: $header4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $gray-text;
}
