.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;
    h2 {
        margin: 5rem;
    }
}

.travelly, .elena {
    flex: 1 1 40rem;
    padding-bottom: 4rem;
    @include flex( center, center, column);
}