$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3),
-webkit-linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}



@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";


@media screen and (max-width: 1332px) {
    html {
        font-size: 53%;
    }
    .splash {
        display: none;
    }

    svg {
        width: 80%;
    }

    nav {
        width: 100%;
    }

}


@media screen and (max-width: 821px) {
    html {
        font-size: 45%;
    }

    .wistia_embed {
      padding-left: 3rem;
        width: 100%;
      height: calc((40vw*9) /16);
     
      margin: 0 auto;
    }


    svg {
        height: 60%;
    }

    .main-head {
        width: 100%;
    }

    nav {
        .logo {
            @include flex(center, center, column);
            flex: 1 1 20rem;
            margin-top: 2rem;
        }

        ul {
            flex: 1 1 60rem;
            margin: 2rem 0rem;
            }
        }

    .intro-text {
            margin-top: 5rem;
            text-align: center;
    }

    .intro-images {
        text-align: center;
    }


    .intro-social {
            @include flex(center, center, row);
            a {
                margin: 2rem;
            }
        }

    .elena, .travelly {
        flex: 1 1 50rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    form {
        width: 100%;
        padding: 0rem;
    }
}

@media screen and (max-width: 420px) {
        .wistia_embed {
          padding-left: 5rem;
          width: 100%;
          height: calc((70vw*9) /16);
    }

}


@media screen  and (max-width: 380px){
    .wistia_embed {
      padding-left: 3rem;
      width: 100%;
      height: calc((80vw*9) /16);
}

}

@media screen  and (max-width: 364px){
    .wistia_embed {
      padding-left: 2rem;
      width: 100%;
      height: calc((85vw*9) /16);
}

}

@media screen and (max-width: 330px) {
    .wistia_embed {
      padding-left: 0;
      width: 100%;
      height: calc((90vw*9) /16);
}
}